/* Header Styles */
.site-header {
	background-color: #35b158;
	color: white;
	padding: 20px 0;
	text-align: center;
}

.site-title {
	font-size: 2rem; /* Adjust the font size as needed */
	margin: 0;
}
